@charset "utf-8";
@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
* {
	margin: 0;
	padding: 0;
	font-family: 'SUIT-Regular';	
}
body{
	width: 60vw;
	min-height: 100%;
	margin: 0 20vw;
}
#container {
	width: 60vw;
	border: 1px solid gray;
	text-align: center;
	margin: 10vh auto 1vh; /*중앙정렬*/
}

#loginbtn, #signupbtn {
	margin: 1vh 1vw 1vh 1vw;
	float: right;
	border: none;
	background-color: white;
}

#menu{
	align-items: center;
	margin-bottom: 1vh;
	/*60vw에 맞게 메뉴 균등 배분*/
	display: flex;
	width: 60vw;
}


#loginmenu {
	height: 4vh;
}

#footer-container{
	width: 100%;
	height: 10vh;
	bottom: 0px;
	position: absolute;
	background-color: gray;
	text-align: center;
	/*하단 고정*/
}

.menuf{
	color: white;
	display: inline;
}

#left-container{
	width:30vw;
	float: left;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	
}

.circle {
      margin: 0 auto;
      width: 6vw;
      height: 12vh;
      border: 10px solid rgb(163, 151, 198);
      border-radius: 50%;
 }
 
#lottery-balls{
	display: flex;	
}

.textalign_center{
	text-align: center;
}
.minwidth-60{
	min-width: 60vw;
}